@model IEnumerable<ForumMonitoria.Models.Disciplina>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Disciplinas</h1>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col">
                <a href="PaginaDisciplina/@item.ID">@item.Name</a>
            </div>
        </div>
    }
</div>


